@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #f7f7f9;
}

#main.active {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: all 2s ease-in-out;
}

.none {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.line {
  width: 100%;
}

/* Header Section */

#header {
  background-color: #fff;
  padding: 0 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

/* Nav section */

.hamburger {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.mobile__menu {
  position: fixed;
  left: 100%;
  height: 100vh;
  width: 100%;
  mix-blend-mode: multiply;
  opacity: 1;
  background: #6070ff;
  transition: 1s;
  z-index: 1;
}

.mobile__menu__list {
  padding-left: 28px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  list-style: none;
}

.mobile__menu__list .nav__item:nth-child(1) {
  align-self: flex-end;
  padding-right: 28px;
  padding-top: 28px;
}

.mobile__nav__link {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

.mobile__menu.active {
  left: 0;
}

.bar {
  background-color: #6070ff;
  width: 30px;
  height: 3px;
  margin-top: 5px;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

/* hero section */

#hero {
  background-color: #fff;
  border-radius: 0 0 0 40px;
  padding: 0 24px;
  background-image: url(images/hero_bg.svg);
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 90vh;
  justify-content: center;
}

.hero__heading,
.aboutus__heading {
  width: 80%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.hero__desc,
.aboutus__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.hero__subtitle,
.aboutus__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.hero__social,
.aboutus__social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

/* projects */

#project {
  margin: 4em 0;
  gap: 4em;
  display: grid;
  padding: 0 24px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project img {
  max-width: 100%;
}

.project__heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.project__path {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  gap: 24px;
}

.project__path__name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project__path__type {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project__language {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
}

.project__language > li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

li:nth-child(1) {
  list-style-type: none;
}

.project__button,
.aboutus__button {
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

/* Modal style */

.popup {
  position: fixed;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: none;
  pointer-events: none;
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.order__before {
  order: -1;
}

/* aboutus */

#aboutus {
  padding: 134px 24px;
  border-radius: 0 40px 0 0;
  background-color: #fff;
}

.aboutus,
.about_more {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.aboutus__button {
  margin-bottom: 60px;
}

button {
  transition: all 1s ease-in-out;
}

button:enabled {
  color: #6070ff;
  background: #fff;
  border: 1px solid #7f8cff;
}

button:hover {
  font-size: 20px;
  background: #6070ff;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  background: #e5e5e5;
  border: 1px solid #5e6c84;
}

button:active {
  background: #2230d2;
  color: #fff;
}

.aboutus__ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.aboutus__h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.aboutmore__h1 {
  padding: 21px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex > img {
  padding-right: 30px;
}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background: #f7f7f9;
  border-radius: 8px;
}

.flex2 > img {
  padding-left: 12px;
}

/* Contact-form */
#form {
  border-radius: 40px 0 0 0;
  background: #6070ff;
  background-image: url(/images/hero_bg.svg);
  background-size: cover;
  padding: 103px 24px 45px 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__list > li {
  list-style: none;
}

.form__list > li > input {
  font-size: 17px;
  width: 100%;
}

.form__list__style {
  padding: 15px 38px 15px 16px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  line-height: 20px;
}

.form__list > li > textarea {
  font-size: 17px;
}

.form__h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.form__p1 {
  color: #ebebff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 50px;
}

.form__button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
}

.display__none {
  display: none;
}

.red__text {
  color: red;
  font-size: 20px;
}

/* Media queries */

.full {
  display: none;
}

.mobile {
  display: flex;
}

@media only screen and (min-width: 768px) {
  /* display */
  .reverse {
    order: 1;
  }

  .full {
    display: flex;
  }

  .mobile {
    display: none;
  }

  /* header */
  #header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header {
    padding: 0 11%;
  }

  /* hero section */

  #hero {
    margin-top: 50px;
  }

  .hero__heading {
    font-size: 48px;
    line-height: 60px;
  }

  .hero__desc {
    font-size: 20px;
    line-height: 28px;
    width: 80%;
  }

  /* nav section */
  .nav {
    gap: 32px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .mobile-menu {
    display: none;
  }

  .nav > li > a {
    text-decoration: none;
  }

  /* hero section */

  .hero {
    padding-left: 18vw;
  }

  /* project section */

  .project {
    margin: 0 2.5em;
    flex-direction: row;
    gap: 46px;
    padding: 24px;
  }

  .project > div {
    gap: 25px;
    flex: 1;
  }

  .project > img {
    flex: 1;
  }

  .project__heading {
    padding-top: 48px;
    font-size: 2.5em;
    line-height: 52px;
  }

  .project__desc {
    font-size: 1em;
  }

  .project__path__name {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 24px;
  }

  .project__path__type {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 24px;
  }

  .flex2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
    border-radius: 8px;
  }

  .flex2 > img {
    padding: 12px 62px 0 12px;
  }

  .aboutmore__h1 {
    padding-left: 12px;
  }

  /* about us */

  .aboutus {
    flex-direction: row;
    padding: 0 10%;
    margin-bottom: 0;
  }

  .aboutus__desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
  }

  .padding {
    padding-right: 37px;
  }

  .aboutus__languages {
    flex: 1;
  }

  .languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  /* contact us */

  .form__p1 {
    width: 33%;
  }

  .form__button__li {
    align-self: center;
  }

  .popup {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
